<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
    <link rel="icon" href="/css_js/images/logo.png" type="image/png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css_js/css/styles.css">
    <meta name="_csrf" content="{{_csrf.token}}">
</head>
<body>
<nav class="navbar navbar-expand-lg d-flex justify-content-between">
    <div class="d-flex align-items-center">
        <a class="navbar-brand font-weight-bold" href="#" onclick="toggleInfo()">MMA Database</a>
        <a class="btn btn-outline-secondary mx-2" th:href="@{/}">Main Page</a>
        <a class="btn btn-outline-secondary mx-2" th:href="@{/database}">Database</a>
    </div>

    <div class="d-flex align-items-center">
        <button id="addCoachBtn" class="btn btn-outline-secondary mx-2" data-toggle="modal" data-target="#addCoachModal">Add Coach</button>
        <i class="bi bi-person-circle mx-2"></i>
        <span class="font-weight-bold mx-2">Basic User</span>
    </div>
</nav>

<div class="modal fade" id="addCoachModal" tabindex="-1" role="dialog" aria-labelledby="addCoachModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCoachModalLabel">Add New Coach</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addCoachForm">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" required>
                    </div>
                    <div class="form-group">
                        <label for="specialization">Specialization</label>
                        <input type="text" class="form-control" id="specialization" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addCoach()">Save Coach</button>
            </div>
        </div>
    </div>
</div>

<div class="container mb-3" id="mma-fighter-filters" style="display: none;">
    <h4 class="h4_header">Filter MMA Fighters</h4>
    <form id="mma-fighter-filter-form" class="form-inline">
        <div class="form-group mx-2">
            <select id="weight-category-filter" class="form-control" onchange="applyMMAFighterFilter()">
                <option value="">All Weight Categories</option>
            </select>
        </div>
        <div class="form-group mx-2">
            <select id="nationality-filter" class="form-control" onchange="applyMMAFighterFilter()">
            </select>
        </div>
        <div class="form-group mx-2">
            <input type="text" class="form-control" id="name-filter" placeholder="Enter Fighter Name" onkeydown="checkEnter(event)">
        </div>
    </form>
</div>

<div class="container mb-3" id="stats-filters" style="display: none;">
    <h4 class="h4_header">Filter Fighters Stats</h4>
    <form id="stats-filter-form" class="form-inline">
        <div class="form-group mx-2">
            <input type="number" class="form-control" id="min-wins" placeholder="Min Wins" oninput="applyStatsFilter()">
        </div>
        <div class="form-group mx-2">
            <input type="number" class="form-control" id="max-wins" placeholder="Max Wins" oninput="applyStatsFilter()">
        </div>
    </form>
</div>

<div class="text-center mb-3">
    <button class="btn btn-outline-secondary mx-2" onclick="showCoaches()">Show Coaches</button>
    <button class="btn btn-outline-secondary mx-2" onclick="showEvents()">Show Events</button>
    <button class="btn btn-outline-secondary mx-2" onclick="showFights()">Show Fights</button>
    <button class="btn btn-outline-secondary mx-2" onclick="showMMAFights()">Show MMAFights</button>
    <button class="btn btn-outline-secondary mx-2" onclick="showMMAFighters()">Show MMAFighters</button>
    <button class="btn btn-outline-secondary mx-2" onclick="showPreparations()">Show Preparations</button>
    <button class="btn btn-outline-secondary mx-2" onclick="showStats()">Show Stats</button>
    <button class="btn btn-outline-secondary mx-2" onclick="showWeightCategories()">Show WeightCategories</button>
</div>

<div class="container mt-6">
    <table class="table table-striped" id="coaches-table">
        <thead>
        <tr>
            <th>Coach ID</th>
            <th>Coach Name</th>
            <th>Specialization</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="coaches-table-body">
        </tbody>
    </table>

    <table class="table table-striped" id="events-table" style="display: none;">
        <thead>
        <tr>
            <th>Event ID</th>
            <th>Event Name</th>
            <th>MMA Organization</th>
            <th>Event Date</th>
            <th>Event Location</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="events-table-body">
        </tbody>
    </table>

    <table class="table table-striped" id="weight_categories-table" style="display: none;">
        <thead>
        <tr>
            <th>Category ID</th>
            <th>Name</th>
            <th>Weight Range</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="weight_categories-table-body">
        </tbody>
    </table>

    <table class="table table-striped" id="mma_fighters-table" style="display: none;">
        <thead>
        <tr>
            <th>Fighter ID</th>
            <th>Fighter Name</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Reach</th>
            <th>Nationality</th>
            <th>Ranking</th>
            <th>Fights</th>
            <th>Points</th>
            <th>Weight Category</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="mma_fighters-table-body">
        </tbody>
    </table>

    <table class="table table-striped" id="stats-table" style="display: none;">
        <thead>
        <tr>
            <th>Stats ID</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Draws</th>
            <th>Kos</th>
            <th>Tkos</th>
            <th>Submissions</th>
            <th>Decisions</th>
            <th>Fighter Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="stats-table-body">
        </tbody>
    </table>

    <table class="table table-striped" id="preparations-table" style="display: none;">
        <thead>
        <tr>
            <th>Preparation ID</th>
            <th>Preparation Date</th>
            <th>MMA Club</th>
            <th>Club Region</th>
            <th>Fighter Name</th>
            <th>Coach Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="preparations-table-body">
        </tbody>
    </table>

    <table class="table table-striped" id="fights-table" style="display: none;">
        <thead>
        <tr>
            <th>Fight ID</th>
            <th>Date of Fight</th>
            <th>Result</th>
            <th>Type of Result</th>
            <th>Weight Category</th>
            <th>Event</th>
            <th>Event Location</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="fights-table-body">
        </tbody>
    </table>

    <table class="table table-striped" id="mma-fights-table" style="display: none;">
        <thead>
        <tr>
            <th>MMA Fight ID</th>
            <th>Fight ID</th>
            <th>Fighter Name</th>
            <th>Weight Category</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="mma-fights-table-body">
        </tbody>
    </table>
</div>

<footer>
    <p>© 2024 MMA Database</p>
    <p>Created by Martin Dressler, DRE0065</p>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/css_js/js/app.js"></script>
<script src="/css_js/js/filters.js"></script>
<script>
    var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
    function addCoach()
    {
        const firstName = document.getElementById('firstName').value;
        const lastName = document.getElementById('lastName').value;
        const specialization = document.getElementById('specialization').value;

        const coachData = {
            firstName: firstName,
            lastName: lastName,
            specialization: specialization
        };

        fetch('/api/coaches/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-TOKEN': csrfToken
            },
            body: JSON.stringify([coachData])
        })
            .then(response => {
                if(response.ok)
                {
                    alert('Coach added successfully!');
                    location.reload();
                }
                else alert('Error adding coach');
            })
            .catch(error =>
            {
                console.error('Error:', error);
                alert('An unexpected error occurred.');
            });
    }
</script>
</body>
</html>