html, body{
    height: 100%;
    margin: 0;
}
body{
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    text-align: center;
}
.additional-info{
    text-align: center;
    display: none;
    font-size: 15px;
    margin-top: 50px;
}
.navbar{
    border: 1px solid black;
    background-color: white;
}
.navbar a{
    color: black;
    font-weight: bold;
    font-size: 25px;
}
.navbar .btn{
    font-size: 16px;
    font-weight: bold;
    border: 1px solid black;
}
.navbar .bi-person-circle{
    font-size: 1.8rem;
    color: black;
}
.container.mt-5.d-flex{
    justify-content: center;
    align-items: center;
    height: 65vh;
}
.additional-info.text-center{
    border: 1px solid;
    padding: 20px 20px 50px 20px;
    box-shadow: 5px 10px 8px 10px #888888;
}
.additional-info.text-center h1{
    font-size: 40px;
    font-weight: bold;
}
.additional-info.text-center div{
    font-size: 24px;
}
.mx-2{
    color: black;
}
table{
    margin: 20px 0;
    border-collapse: collapse;
}
td, th{
    text-align: center;
    border: 1px solid #ddd;
}
th{
    background-color: #f1f1f1;
    font-size: 15px;
}
td{
    font-size: 14px;
}
footer{
    text-align: center;
    padding: 10px 0;
    border: 1px solid black;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}
footer p{
    margin: 5px;
    color: black;
    font-weight: bold;
    font-size: 18px;
}
.mb-3{
    margin-top: 15px;
}
.h4_header{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}
#mma-fighter-filters, #stats-filters{
    display: flex;
    justify-content: center;
    align-items: center;
}
#mma-fighter-filter-form, #stats-filter-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 3px solid #ddd;
    border-radius: 60px;
    background-color: #f9f9f9;
}
#weight-category-filter, #nationality-filter, #name-filter::placeholder, .form-control::placeholder{
    color: black;
}
#mma-fighter-filters{
    width: 35%;
}
#stats-filters{
    width: 30%;
}
.bttns{
    text-decoration: none;
    color: inherit;
}
.bttns i{
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.bttns:hover i{
    transform: scale(1.1);
    color: black;
}
.form-group{
    text-align: left;
}
#user-icon{
    font-size: 1.5rem;
}
#fighter-image{
    max-width: 200px;
}
.fighters-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.fighter-select-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px;
}
.fighter-select-container img{
    width: 300px;
    height: auto;
    margin-top: 50px;
}
.fighter-right img{
    transform: scaleX(-1);
}
.vs-text{
    font-size: 3rem;
    font-weight: bold;
    margin: 0 40px;
}
#announceFightBtn{
    font-weight: bold;
}
.main-content{
    flex: 1;
    padding: 2rem;
    background-color: #f9f9f9;
}
.table-lg th, .table-lg td{
    font-size: 1.2rem;
    padding: 1rem;
}
.tables-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 2rem;
}
.tables-row .table-wrapper{
    flex: 1;
}
.fighter-section{
    text-align: center;
    margin-bottom: 2rem;
}
#fighter-photo{
    width: 300px;
    height: 350px;
}